@charset "UTF-8";
.header-logo {
  margin: 10px 20px;
  display: flex;
  align-items: center;
}
.header-logo img {
  width: 100px;
  height: 34px;
  text-align: center;
  align-items: center;
}

#abrir-menu {
  background-color: transparent;
  border: none;
  padding: 10px 24px;
  color: #222222;
  display: none;
}
#abrir-menu i {
  font-size: 27px;
}
@media screen and (max-width: 768px) {
  #abrir-menu {
    display: block;
  }
}

nav {
  width: 435px;
  height: 50px;
  margin: 5px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
  z-index: 100;
}
nav #cerrar-menu {
  display: none;
  background-color: transparent;
  border: none;
  padding: 15px 24px;
  color: #f2f2f2;
}
nav #cerrar-menu i {
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  nav #cerrar-menu {
    display: block;
    z-index: 9999;
  }
}
nav a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #433535;
  cursor: pointer;
}
nav a:hover {
  color: black;
  transition: color 0.5s;
}
nav a:nth-child(2) {
  width: 90px;
}
@media screen and (max-width: 768px) {
  nav a:nth-child(2) {
    padding-right: 12%;
    text-align: end;
  }
}
nav a:nth-child(3) {
  width: 120px;
}
@media screen and (max-width: 768px) {
  nav a:nth-child(3) {
    padding-right: 12%;
    text-align: end;
  }
}
nav a:nth-child(4) {
  width: 95px;
}
@media screen and (max-width: 768px) {
  nav a:nth-child(4) {
    padding-right: 12%;
    text-align: end;
  }
}
nav a:nth-child(5) {
  width: 130px;
}
@media screen and (max-width: 768px) {
  nav a:nth-child(5) {
    padding-right: 12%;
    text-align: end;
  }
}
@media only screen and (max-width: 768px) {
  nav a {
    line-height: 50px;
    color: #f2f2f2;
  }
  nav a:hover {
    color: #ffd501;
  }
}
nav a:nth-child(2):hover ~ .animation {
  width: 90px;
  left: 0;
  background-color: #ffd501;
}
nav a:nth-child(3):hover ~ .animation {
  width: 120px;
  left: 90px;
  background-color: #ffd501;
}
nav a:nth-child(4):hover ~ .animation {
  width: 95px;
  left: 210px;
  background-color: #ffd501;
}
nav a:nth-child(5):hover ~ .animation {
  width: 130px;
  left: 305px;
  background-color: #ffd501;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
@media only screen and (max-width: 768px) {
  nav {
    opacity: 0;
    visibility: hidden;
    margin: 0;
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: end;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
    transition: opacity 0.5s ease;
    border-radius: 0;
  }
  nav .animation {
    display: none;
  }
}

nav.visible {
  opacity: 1;
  visibility: visible;
}

#inicio {
  align-items: center;
  color: #f2f2f2; /* Color de texto */
  display: flex;
  min-height: 100vh;
  padding: 0;
}

/*.fondo-inicio {
  background: url("/assets/fondo-inicio.png") fixed center center/cover;
  height: 100%;
  left: 0;
  margin-top: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}*/
.inicio-descripcion {
  width: 60%;
  height: auto;
  padding: 80px;
}
.inicio-descripcion h1 {
  animation-duration: 2s;
  color: black; /* Color de texto */
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .inicio-descripcion h1 {
    font-size: x-large; /* Tamaño de fuente en pantallas pequeñas */
  }
}
.inicio-descripcion img {
  animation-duration: 2s;
  width: 450px;
  height: auto;
  margin: 10px;
}
@media only screen and (max-width: 768px) {
  .inicio-descripcion img {
    margin: 0;
    max-width: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .inicio-descripcion {
    width: 100%;
    padding: 10px;
  }
}

.inicio-descripcion-container_imagen {
  animation-duration: 2s;
  max-width: 243px;
  height: auto;
  position: absolute;
  right: 0;
}
.inicio-descripcion-container_imagen img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .inicio-descripcion-container_imagen {
    position: relative;
  }
}

.arrow {
  bottom: 0;
  left: 47.5%;
  margin: 2% 0;
  position: absolute;
  text-align: center;
}
.arrow a {
  color: #222222; /* Color de texto */
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .arrow {
    margin: 5% 0;
  }
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
#historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}

.mision-valores {
  display: flex;
  flex-direction: column;
}

.mision-valores-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.mision-valores-tarjeta {
  padding: 10px;
}
.mision-valores-tarjeta i {
  font-size: 70px;
  margin: 5px 0;
}
.mision-valores-tarjeta .fa-lightbulb {
  color: #68c3e2;
}
.mision-valores-tarjeta .fa-heart {
  color: #ff6d6a;
}
.mision-valores-tarjeta .fa-star {
  color: #ee82ee;
}
.mision-valores-tarjeta .fa-smile-beam {
  color: #ffd501;
}
.mision-valores-tarjeta p {
  margin-top: 25px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container p {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .container p {
    min-height: 0;
  }
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.slider {
  margin-left: 50px;
  width: 60%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 768px) {
  .slider {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
}

.slide {
  width: auto;
  height: 100%;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  animation: slide-in 2s forwards;
}

.slide.active {
  display: block;
}

@keyframes slide-in {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
/* Estilos para la sección "Inscribete" */
.inscribite {
  text-align: center;
}

/* Estilos para la sección "Cursos" */
#cursos {
  flex-direction: column;
  padding: 10px 50px;
}

.container__cursos {
  align-items: stretch;
  display: flex;
  gap: 30px;
  height: 100%;
  justify-content: center;
  margin-top: 60px;
}
@media only screen and (max-width: 1024px) {
  .container__cursos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}

/* Estilos para las tarjetas de cursos */
.curso-tarjeta-wedo,
.curso-tarjeta-spike,
.curso-tarjeta-prime {
  align-items: center;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 420px;
  padding: 20px;
  /* Estilos para los requisitos dentro de la tarjeta */
  /* Estilos para los cupos de cada curso */
}
.curso-tarjeta-wedo .requisitos,
.curso-tarjeta-spike .requisitos,
.curso-tarjeta-prime .requisitos {
  color: #222222;
}
.curso-tarjeta-wedo h1,
.curso-tarjeta-spike h1,
.curso-tarjeta-prime h1 {
  font-size: 24px;
  margin: 0;
  padding: 15px 5px;
}
@media only screen and (max-width: 768px) {
  .curso-tarjeta-wedo h1,
  .curso-tarjeta-spike h1,
  .curso-tarjeta-prime h1 {
    padding: 20px;
  }
}
.curso-tarjeta-wedo img,
.curso-tarjeta-spike img,
.curso-tarjeta-prime img {
  width: 80%;
  height: auto;
  margin: 30px 0;
}
.curso-tarjeta-wedo button:hover,
.curso-tarjeta-spike button:hover,
.curso-tarjeta-prime button:hover {
  background-color: #55cc55;
  border-color: #55cc55;
}
.curso-tarjeta-wedo #cupos_wedo,
.curso-tarjeta-wedo #cupos_spike,
.curso-tarjeta-wedo #cupos_prime,
.curso-tarjeta-spike #cupos_wedo,
.curso-tarjeta-spike #cupos_spike,
.curso-tarjeta-spike #cupos_prime,
.curso-tarjeta-prime #cupos_wedo,
.curso-tarjeta-prime #cupos_spike,
.curso-tarjeta-prime #cupos_prime {
  border: 3px solid #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px;
}
.curso-tarjeta-wedo #cupos_wedo span,
.curso-tarjeta-wedo #cupos_spike span,
.curso-tarjeta-wedo #cupos_prime span,
.curso-tarjeta-spike #cupos_wedo span,
.curso-tarjeta-spike #cupos_spike span,
.curso-tarjeta-spike #cupos_prime span,
.curso-tarjeta-prime #cupos_wedo span,
.curso-tarjeta-prime #cupos_spike span,
.curso-tarjeta-prime #cupos_prime span {
  font-size: 19px;
  font-weight: 900;
}
@media only screen and (max-width: 1024px) {
  .curso-tarjeta-wedo,
  .curso-tarjeta-spike,
  .curso-tarjeta-prime {
    justify-content: center;
    padding: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .curso-tarjeta-wedo,
  .curso-tarjeta-spike,
  .curso-tarjeta-prime {
    justify-content: center;
    max-width: 360px;
    min-height: 0;
    padding: 20px;
  }
}

/* Estilos específicos para la tarjeta del curso "wedo" */
.curso-tarjeta-wedo {
  background-color: #68c3e2;
}
.curso-tarjeta-wedo h1 {
  color: #373737;
}

/* Estilos específicos para la tarjeta del curso "spike" */
.curso-tarjeta-spike {
  background-color: #ffd501;
}
.curso-tarjeta-spike h1 {
  color: #504646;
}

/* Estilos específicos para la tarjeta del curso "prime" */
.curso-tarjeta-prime {
  background-color: #c6008e;
}
.curso-tarjeta-prime h1 {
  color: #f2f2f2;
}
.curso-tarjeta-prime .requisitos {
  color: #f2f2f2;
}

/* Estilos para el botón de horarios y cupos */
.boton-horarios-cupos {
  border: 3px solid #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  min-width: 210px;
  padding: 10px;
}
.boton-horarios-cupos a {
  justify-content: center;
}

.expanded {
  height: 100%;
}

.hide-buttons {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 5s ease, max-height 5s ease;
}

.show-buttons {
  max-height: 1000px;
  opacity: 1;
  transition: opacity 5s ease, max-height 5s ease;
}

/* Estilos para la sección de equipo */
.equipo h1 {
  margin: 0;
}
.equipo p {
  margin: 30px 0;
}

/* Estilos para las tarjetas de equipo */
.equipo-tarjeta img,
.equipo-tarjeta_ancha img {
  width: 50%;
  min-width: 250px;
  max-width: 320px;
  height: auto;
  border-radius: 50%;
  border: 6px solid #55cc55;
}
@media only screen and (max-width: 600px) {
  .equipo-tarjeta img,
  .equipo-tarjeta_ancha img {
    max-width: 200px;
    margin-top: 15px;
  }
}
.equipo-tarjeta img h4,
.equipo-tarjeta_ancha img h4 {
  margin-top: 10px;
}

/* Estilos para el contenedor de las tarjetas */
.tarjetas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  .tarjetas {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

/* Estilos para las tarjetas de equipo en versión ancha */
.equipo-tarjeta_ancha {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin: 30px 0;
}
.equipo-tarjeta_ancha .texto-tarjeta-ancha {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .equipo-tarjeta_ancha {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0;
  }
}

#recursos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
  margin-top: 70px;
  margin-bottom: 35px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .timeline {
    margin: 50px 10px 0;
    list-style-type: none;
    display: block;
  }
}

.li {
  transition: all 200ms ease-in;
}
@media screen and (max-width: 768px) {
  .li {
    display: flex;
    align-items: center;
  }
}

.timestamp {
  margin-bottom: 30px;
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  .timestamp {
    margin: 5px 15px 5px 0;
    width: 100px;
  }
}

.status {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #d6dce0;
  position: relative;
  transition: all 200ms ease-in;
}
.status h4 {
  font-weight: 900;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}
@media screen and (max-width: 768px) {
  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}
@media screen and (max-width: 768px) {
  .status {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    border-bottom: 2px solid #55cc55;
  }
}
.li.complete .status {
  border-top: 2px solid #55cc55;
}
.li.complete .status:before {
  background-color: #55cc55;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #356835;
}

#ubicacion {
  margin: 50px 10px;
  padding: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
#ubicacion .ubicacion-titulo {
  width: 40%;
}
#ubicacion .ubicacion-titulo h1 {
  padding: 10px;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  #ubicacion .ubicacion-titulo {
    width: 100%;
    padding-bottom: 20px;
  }
}
#ubicacion iframe {
  width: 70%;
  margin: 10px;
  border-radius: 5%;
}
@media only screen and (max-width: 1024px) {
  #ubicacion iframe {
    width: 90%;
    height: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  #ubicacion {
    font-size: 1em;
    padding: 10px;
    margin: 30px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

/* Estilos para el contenedor del logo en el footer */
.container-footer__logo {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .container-footer__logo {
    margin: 0;
  }
}
.container-footer__logo img {
  width: auto;
  height: 9vh;
  text-align: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .container-footer__logo img {
    height: 10vh;
  }
}
.container-footer__logo p {
  font-size: 2.5vh;
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  color: #433535;
}

/* Estilos para el contenedor de contacto en el footer */
#contacto {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 16px;
  transition: all 0.3s;
}
@media only screen and (max-width: 768px) {
  #contacto {
    padding: 10px 0;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
  }
}

/* Estilos para los contenedores individuales de WhatsApp, Instagram, Mapa y Email en el footer */
.container__whatsapp,
.container__instagram,
.container__mapa,
.container__email {
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .container__whatsapp,
  .container__instagram,
  .container__mapa,
  .container__email {
    font-size: 20px;
  }
}
.container__whatsapp a,
.container__instagram a,
.container__mapa a,
.container__email a {
  display: flex;
  justify-content: center;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .container__whatsapp a,
  .container__instagram a,
  .container__mapa a,
  .container__email a {
    padding: 0;
  }
}
.container__whatsapp p,
.container__instagram p,
.container__mapa p,
.container__email p {
  color: #433535;
  padding-left: 10px;
}
@media only screen and (max-width: 768px) {
  .container__whatsapp p,
  .container__instagram p,
  .container__mapa p,
  .container__email p {
    padding-left: 5px;
  }
}
.container__whatsapp i,
.container__instagram i,
.container__mapa i,
.container__email i {
  display: flex;
  align-items: center;
  color: #433535;
}

/* Estilos para la animación de desvanecimiento al hacer scroll */
.fade-in-scroll {
  opacity: 0;
  transition: opacity 0.6s linear;
}

/* Importaciones de archivos SCSS */
/* Configuración para desplazamiento suave en HTML */
html {
  scroll-behavior: smooth;
}

/* Estilos de secciones y artículos */
article,
section {
  background: #f9f9ea;
  padding: 10px 50px;
  text-align: center;
  scroll-margin-top: 60px;
}
@media only screen and (max-width: 768px) {
  article,
  section {
    padding: 10px 20px;
  }
}

/* Estilos del cuerpo (body) */
body {
  background: #f9f9ea;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

/* Estilos del encabezado (header) */
header {
  align-items: center;
  background: linear-gradient(#55cc55 99%, #f9f9ea);
  box-sizing: border-box;
  display: flex;
  height: 60px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 15;
}

/* Estilos para enlaces */
a {
  align-items: center;
  display: flex;
  text-decoration: none;
}

/* Estilos para formularios */
form {
  display: flex;
  flex-direction: column;
}

/* Estilos para títulos */
h1 {
  font-size: 48px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

h2 {
  font-size: 36px;
  margin: 20px;
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
    margin: 10px;
  }
}

h3 {
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

/* Estilos generales */
/* Resetear márgenes y paddings en todos los elementos */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos para el menú de navegación */
#toggler .navbar-menu label {
  display: none;
}

/* Estilos para párrafos */
p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin: 10px 0;
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 16px;
    margin: 10px 0;
  }
}

/* Estilos para desplazamiento suave en HTML */
html {
  scroll-behavior: smooth;
}

/* Estilos para la barra de navegación */
.navbar-menu label {
  display: none;
}

/* Estilos para el pie de página */
footer {
  width: 100%;
  padding: 15px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#f9f9ea, #55cc55 1%);
  text-align: center;
}
@media only screen and (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=styles.css.map */
