@charset "UTF-8";
.header-logo {
  margin: 10px 20px;
  display: flex;
  align-items: center;
}
.header-logo img {
  width: auto;
  height: 34px;
  text-align: center;
  align-items: center;
}

#abrir-menu {
  background-color: transparent;
  border: none;
  padding: 10px 24px;
  color: #222222;
  display: none;
}
#abrir-menu i {
  font-size: 27px;
}
@media screen and (max-width: 768px) {
  #abrir-menu {
    display: block;
  }
}

nav {
  width: 435px;
  height: 50px;
  margin: 5px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
  z-index: 100;
  /*a:nth-child(6):hover ~ .animation {
    width: 120px;
    left: 435px;
    background-color: variables.$spike;
  }*/
}
nav #cerrar-menu {
  display: none;
  background-color: transparent;
  border: none;
  padding: 15px 24px;
  color: #f2f2f2;
}
nav #cerrar-menu i {
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  nav #cerrar-menu {
    display: block;
    z-index: 9999;
  }
}
nav a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #433535;
  cursor: pointer;
  /*&:nth-child(6) {
    width: 120px;
  }*/
}
nav a:hover {
  color: black;
  transition: color 0.5s;
}
nav a:nth-child(2) {
  width: 90px;
}
nav a:nth-child(3) {
  width: 120px;
}
nav a:nth-child(4) {
  width: 95px;
}
nav a:nth-child(5) {
  width: 130px;
}
@media only screen and (max-width: 768px) {
  nav a {
    line-height: 50px;
    color: #f2f2f2;
  }
  nav a:hover {
    color: #ffd501;
  }
}
nav a:nth-child(2):hover ~ .animation {
  width: 90px;
  left: 0;
  background-color: #ffd501;
}
nav a:nth-child(3):hover ~ .animation {
  width: 120px;
  left: 90px;
  background-color: #ffd501;
}
nav a:nth-child(4):hover ~ .animation {
  width: 95px;
  left: 210px;
  background-color: #ffd501;
}
nav a:nth-child(5):hover ~ .animation {
  width: 130px;
  left: 305px;
  background-color: #ffd501;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
@media only screen and (max-width: 768px) {
  nav {
    opacity: 0;
    visibility: hidden;
    margin: 0;
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: end;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
    transition: opacity 0.5s ease;
    border-radius: 0;
  }
  nav .animation {
    display: none;
  }
}

nav.visible {
  opacity: 1;
  visibility: visible;
}

#inicio {
  padding: 0;
  min-height: 100vh;
  color: #f2f2f2;
  display: flex;
  align-items: center;
}

/*.fondo-inicio {
      margin-top: 20px;
      background: url("/assets/fondo-inicio.png") fixed center center/cover;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }*/
.inicio-descripcion {
  padding: 80px;
}
.inicio-descripcion h1 {
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
  margin: 10px;
  animation-duration: 2s;
}
@media only screen and (max-width: 768px) {
  .inicio-descripcion h1 {
    font-size: x-large;
  }
}
.inicio-descripcion img {
  width: 400px;
  margin: 10px;
  animation-duration: 2s;
}
@media only screen and (max-width: 768px) {
  .inicio-descripcion img {
    margin: 0;
    max-width: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .inicio-descripcion {
    width: 100%;
    padding: 10px;
  }
}

.inicio-descripcion-container_imagen {
  position: absolute;
  right: 0;
  animation-duration: 2s;
}
@media only screen and (max-width: 768px) {
  .inicio-descripcion-container_imagen {
    position: relative;
  }
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 47.5%;
  text-align: center;
  margin: 2% 0;
}
.arrow a {
  color: #222222;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .arrow {
    margin: 5% 0;
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
#historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}

.mision-valores {
  display: flex;
  flex-direction: column;
}

.mision-valores-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.mision-valores-tarjeta {
  padding: 10px;
}
.mision-valores-tarjeta i {
  margin: 5px 0;
  font-size: 70px;
}
.mision-valores-tarjeta .fa-lightbulb {
  color: #68c3e2;
}
.mision-valores-tarjeta .fa-heart {
  color: #ff6d6a;
}
.mision-valores-tarjeta .fa-star {
  color: #ee82ee;
}
.mision-valores-tarjeta .fa-smile-beam {
  color: #ffd501;
}
.mision-valores-tarjeta p {
  margin-top: 25px;
}

.inscribite {
  text-align: center;
}

#cursos {
  flex-direction: column;
  padding-bottom: 50px;
}

.container__cursos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 60px;
}
@media only screen and (max-width: 1024px) {
  .container__cursos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.curso-tarjeta-wedo,
.curso-tarjeta-spike,
.curso-tarjeta-prime {
  max-width: 420px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
  padding: 30px 20px;
}
.curso-tarjeta-wedo .requisitos,
.curso-tarjeta-spike .requisitos,
.curso-tarjeta-prime .requisitos {
  color: #222222;
  text-align: start;
}
.curso-tarjeta-wedo h3,
.curso-tarjeta-spike h3,
.curso-tarjeta-prime h3 {
  padding: 15px;
}
@media only screen and (max-width: 768px) {
  .curso-tarjeta-wedo h3,
  .curso-tarjeta-spike h3,
  .curso-tarjeta-prime h3 {
    padding: 20px;
    font-size: 24px;
  }
}
.curso-tarjeta-wedo span,
.curso-tarjeta-spike span,
.curso-tarjeta-prime span {
  padding: 10px;
}
.curso-tarjeta-wedo img,
.curso-tarjeta-spike img,
.curso-tarjeta-prime img {
  width: 300px;
  height: 300px;
  margin: 30px 0;
  border-radius: 20%;
}
.curso-tarjeta-wedo button:hover,
.curso-tarjeta-spike button:hover,
.curso-tarjeta-prime button:hover {
  background-color: #55cc55;
  border-color: #55cc55;
}
.curso-tarjeta-wedo #cupos_wedo,
.curso-tarjeta-wedo #cupos_spike,
.curso-tarjeta-wedo #cupos_prime,
.curso-tarjeta-spike #cupos_wedo,
.curso-tarjeta-spike #cupos_spike,
.curso-tarjeta-spike #cupos_prime,
.curso-tarjeta-prime #cupos_wedo,
.curso-tarjeta-prime #cupos_spike,
.curso-tarjeta-prime #cupos_prime {
  border: 3px solid #f2f2f2;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.curso-tarjeta-wedo #cupos_wedo span,
.curso-tarjeta-wedo #cupos_spike span,
.curso-tarjeta-wedo #cupos_prime span,
.curso-tarjeta-spike #cupos_wedo span,
.curso-tarjeta-spike #cupos_spike span,
.curso-tarjeta-spike #cupos_prime span,
.curso-tarjeta-prime #cupos_wedo span,
.curso-tarjeta-prime #cupos_spike span,
.curso-tarjeta-prime #cupos_prime span {
  font-weight: 900;
  font-size: 19px;
}
@media only screen and (max-width: 1024px) {
  .curso-tarjeta-wedo,
  .curso-tarjeta-spike,
  .curso-tarjeta-prime {
    padding: 20px;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .curso-tarjeta-wedo,
  .curso-tarjeta-spike,
  .curso-tarjeta-prime {
    max-width: 360px;
    padding: 20px;
    justify-content: center;
  }
}

.curso-tarjeta-wedo {
  background-color: #68c3e2;
}
.curso-tarjeta-wedo h3 {
  color: #373737;
}

.curso-tarjeta-spike {
  background-color: #ffd501;
}
.curso-tarjeta-spike h3 {
  color: #504646;
}

.curso-tarjeta-prime {
  background-color: #c6008e;
}
.curso-tarjeta-prime h3 {
  color: #ffffff;
}
.curso-tarjeta-prime .requisitos {
  color: #ffffff;
}

.boton-horarios-cupos {
  border: 3px solid #f2f2f2;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.expanded {
  height: 100%;
}

.hide-buttons {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 5s ease, max-height 5s ease;
}

.show-buttons {
  opacity: 1;
  max-height: 1000px; /* Establece una altura máxima adecuada */
  transition: opacity 5s ease, max-height 5s ease;
}

.equipo p {
  margin-top: 30px;
}

.equipo-tarjeta img,
.equipo-tarjeta_ancha img {
  width: 80%;
  max-width: 320px;
  border-radius: 50%;
  border: 6px solid #55cc55;
}
@media only screen and (max-width: 600px) {
  .equipo-tarjeta img,
  .equipo-tarjeta_ancha img {
    width: 80%;
    max-width: 200px;
    margin-top: 15px;
  }
}
.equipo-tarjeta img h2,
.equipo-tarjeta_ancha img h2 {
  margin: 20px 20px 0 20px;
}
.equipo-tarjeta img h4,
.equipo-tarjeta_ancha img h4 {
  margin-top: 10px;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  .tarjetas {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.equipo-tarjeta_ancha {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin: 30px 0;
}
@media only screen and (max-width: 768px) {
  .equipo-tarjeta_ancha {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0;
  }
}

.timeline {
  margin: 50px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .timeline {
    margin: 50px 10px 0;
    list-style-type: none;
    display: block;
  }
}

.li {
  transition: all 200ms ease-in;
}
@media screen and (max-width: 768px) {
  .li {
    display: flex;
    align-items: center;
  }
}

.timestamp {
  margin-bottom: 30px;
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  .timestamp {
    margin: 5px 15px 5px 0;
    width: 100px;
  }
}

.status {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #d6dce0;
  position: relative;
  transition: all 200ms ease-in;
}
.status h4 {
  font-weight: 900;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}
@media screen and (max-width: 768px) {
  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}
@media screen and (max-width: 768px) {
  .status {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    border-bottom: 2px solid #55cc55;
  }
}
.li.complete .status {
  border-top: 2px solid #55cc55;
}
.li.complete .status:before {
  background-color: #55cc55;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #356835;
}

#ubicacion {
  padding-bottom: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
#ubicacion .ubicacion-titulo {
  width: 40%;
}
@media screen and (max-width: 768px) {
  #ubicacion .ubicacion-titulo {
    width: 100%;
    padding-bottom: 20px;
  }
}
#ubicacion iframe {
  width: 70%;
  height: 70%;
  margin: 10px;
  border-radius: 5%;
}
@media only screen and (max-width: 1024px) {
  #ubicacion iframe {
    width: 90%;
    height: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  #ubicacion {
    font-size: 1em;
    padding: 10px;
    margin: 30px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

footer {
  width: 100%;
  padding: 15px;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#f9f9ea, #55cc55 1%);
  text-align: center;
}
@media only screen and (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    flex-wrap: wrap;
  }
}

.container-footer__logo {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .container-footer__logo {
    margin: 0;
  }
}
.container-footer__logo img {
  width: auto;
  height: 9vh;
  text-align: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .container-footer__logo img {
    height: 10vh;
  }
}
.container-footer__logo p {
  font-size: 2.5vh;
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  color: #433535;
}

#contacto {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 16px;
  transition: all 0.3s;
}
@media only screen and (max-width: 768px) {
  #contacto {
    padding: 10px 0;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
  }
}

.container__whatsapp,
.container__instagram,
.container__mapa,
.container__email {
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .container__whatsapp,
  .container__instagram,
  .container__mapa,
  .container__email {
    font-size: 20px;
  }
}
.container__whatsapp a,
.container__instagram a,
.container__mapa a,
.container__email a {
  display: flex;
  justify-content: center;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .container__whatsapp a,
  .container__instagram a,
  .container__mapa a,
  .container__email a {
    padding: 0;
  }
}
.container__whatsapp p,
.container__instagram p,
.container__mapa p,
.container__email p {
  color: #433535;
  padding-left: 10px;
}
@media only screen and (max-width: 768px) {
  .container__whatsapp p,
  .container__instagram p,
  .container__mapa p,
  .container__email p {
    padding-left: 5px;
  }
}
.container__whatsapp i,
.container__instagram i,
.container__mapa i,
.container__email i {
  display: flex;
  align-items: center;
  color: #433535;
}

.fade-in-scroll {
  opacity: 0;
  transition: opacity 0.6s linear;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f9f9ea;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background: linear-gradient(#55cc55 99%, #f9f9ea);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
}

section {
  padding: 10px 50px;
  text-align: center;
  background: #f9f9ea;
}
@media only screen and (max-width: 768px) {
  section {
    padding: 20px;
  }
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 48px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

h2 {
  font-size: 36px;
  margin: 20px;
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
    margin: 10px;
  }
}

h3 {
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

p {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 16px;
    margin: 10px 0;
  }
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

:target {
  scroll-margin-top: 60px;
}

/* Toggler */
#toggler .navbar-menu label {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
