@use "variables.scss";

// Estilos para la sección de ubicación
#ubicacion {
  display: flex;
  align-items: center;

  @media only screen and (max-width: 1024px) {
    flex-direction: column-reverse;
  }
  
  @media screen and (max-width: 768px) {
    width: 60%;
  }

  // Estilos para el título de la ubicación
  h1 {
    font-size: larger;
  }
}

// Estilos para el iframe del mapa
iframe {
  width: 50%;
  height: auto;
  margin: 10px;
  border-radius: 2%;

  @media only screen and (max-width: 1024px) {
    width: 90%;
    height: 100%;
  }
}

#contacto {
  gap: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-contacto {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  @media screen and (max-width: 768px) {
    margin: 20px 0 10px;
  }
}


/* Estilos para el contenedor del logo en el footer */
.container-footer__logo {
  padding: 15px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    margin: 0;
  }

  img {
    width: auto;
    height: 9vh;
    text-align: center;
    align-items: center;

    @media only screen and (max-width: 768px) {
      height: 11vh;
    }
  }

  p {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    color: #433535;
  }
}

/* Estilos para el contenedor de contacto en el footer */
#contacto {
  display: flex;
  /*grid-template-columns: repeat(2, 1fr);*/
  transition: all 0.3s;

  @media only screen and (max-width: 768px) {
    padding: 10px 0;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
  }
}

/* Estilos para los contenedores individuales de WhatsApp, Instagram, Mapa y Email en el footer */
.container__whatsapp,
.container__instagram,
.container__mapa,
.container__email {
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media only screen and (max-width: 768px) {
    font-size: 20px;
  }

  a {
    display: flex;
    justify-content: center;
    padding: 10px;

    @media only screen and (max-width: 768px) {
      padding: 0;
    }
  }

  p {
    color: #433535;
    padding-left: 10px;

    @media only screen and (max-width: 768px) {
      padding-left: 5px;
    }
  }

  i {
    display: flex;
    align-items: center;
    color: #433535;
    font-size: 20px;
  }
}
