@use "variables.scss";

.inscribite {
  text-align: center;
}

#cursos {
  flex-direction: column;
  padding-bottom: 50px;
}

.container__cursos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 60px;

  @media only screen and (max-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.curso-tarjeta-wedo,
.curso-tarjeta-spike,
.curso-tarjeta-prime {
  max-width: 420px;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
  padding: 30px 20px;

  .requisitos {
    color: variables.$black;
    text-align: start;
  }

  h3 {
    padding: 15px;

    @media only screen and (max-width: 768px) {
      padding: 20px;
      font-size: 24px;
    }
  }

  span {
    padding: 10px;
  }

  img {
    width: 300px;
    height: 300px;
    margin: 30px 0;
    border-radius: 20%;
  }

  button:hover {
    background-color: variables.$green;
    border-color: variables.$green;
  }

  #cupos_wedo,
  #cupos_spike,
  #cupos_prime {
    border: 3px solid variables.$white;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    span {
      font-weight: 900;
      font-size: 19px;
    }
  }

  @media only screen and (max-width: 1024px) {
    padding: 20px;
    justify-content: center;
  }
}

.curso-tarjeta-wedo {
  background-color: variables.$wedo;

  h3 {
    color: #373737;
  }
}

.curso-tarjeta-spike {
  background-color: variables.$spike;

  h3 {
    color: #504646;
  }
}

.curso-tarjeta-prime {
  background-color: variables.$prime;

  h3 {
    color: #ffffff;
  }

  .requisitos {
    color: #ffffff;
  }
}

.boton-horarios-cupos {
  border: 3px solid variables.$white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.expanded {
  height: 100%;
}

.hide-buttons {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 5s ease, max-height 5s ease;
}

.show-buttons {
  opacity: 1;
  max-height: 1000px; /* Establece una altura máxima adecuada */
  transition: opacity 5s ease, max-height 5s ease;
}
