@use "variables.scss";

/* Estilos para la sección "Inscribete" */
.inscribite {
  text-align: center;
}

/* Estilos para la sección "Cursos" */
#cursos {
  flex-direction: column;
  padding: 10px 50px;
}

.container__cursos {
  align-items: stretch;
  display: flex;
  gap: 30px;
  height: 100%;
  justify-content: center;
  margin-top: 60px;

  @media only screen and (max-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}

/* Estilos para las tarjetas de cursos */
.curso-tarjeta-wedo,
.curso-tarjeta-spike,
.curso-tarjeta-prime {
  align-items: center;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 420px;
  padding: 20px;

  /* Estilos para los requisitos dentro de la tarjeta */
  .requisitos {
    color: variables.$black;
  }

  h1 {
    font-size: 24px;
    margin: 0;
    padding: 15px 5px;

    @media only screen and (max-width: 768px) {
      padding: 20px;
    }
  }

  img {
    width: 80%;
    height: auto;
    margin: 30px 0;
  }

  button:hover {
    background-color: variables.$green;
    border-color: variables.$green;
  }

  /* Estilos para los cupos de cada curso */
  #cupos_wedo,
  #cupos_spike,
  #cupos_prime {
    border: 3px solid variables.$white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;

    span {
      font-size: 19px;
      font-weight: 900;
    }
  }

  @media only screen and (max-width: 1024px) {
    justify-content: center;
    padding: 20px;
  }

  @media only screen and (max-width: 768px) {
    justify-content: center;
    max-width: 360px;
    min-height: 0;
    padding: 20px;
  }
}

/* Estilos específicos para la tarjeta del curso "wedo" */
.curso-tarjeta-wedo {
  background-color: variables.$wedo;

  h1 {
    color: #373737;
  }
}

/* Estilos específicos para la tarjeta del curso "spike" */
.curso-tarjeta-spike {
  background-color: variables.$spike;

  h1 {
    color: #504646;
  }
}

/* Estilos específicos para la tarjeta del curso "prime" */
.curso-tarjeta-prime {
  background-color: variables.$prime;

  h1 {
    color: variables.$white;
  }

  .requisitos {
    color: variables.$white;
  }
}

/* Estilos para el botón de horarios y cupos */
.boton-horarios-cupos {
  border: 3px solid variables.$white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  min-width: 210px;
  padding: 10px;

  a {
    justify-content: center;
  }
}

.expanded {
  height: 100%;
}

.hide-buttons {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 5s ease, max-height 5s ease;
}

.show-buttons {
  max-height: 1000px;
  opacity: 1;
  transition: opacity 5s ease, max-height 5s ease;
}
