@use "variables.scss";

.equipo p {
  margin-top: 30px;
}

.equipo-tarjeta,
.equipo-tarjeta_ancha {
  img {
    width: 80%;
    max-width: 320px;
    height: auto;
    border-radius: 50%;
    border: 6px solid variables.$green;

    @media only screen and (max-width: 600px) {
      width: 80%;
      max-width: 200px;
      margin-top: 15px;
    }

    h2 {
      margin: 20px 20px 0 20px;
    }

    h4 {
      margin-top: 10px;
    }
  }
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 20px;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.equipo-tarjeta_ancha {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin: 30px 0;

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0;
  }
}

.timeline {
  margin: 50px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    margin: 50px 10px 0;
    list-style-type: none;
    display: block;
  }
}

.li {
  transition: all 200ms ease-in;

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.timestamp {
  margin-bottom: 30px;
  padding: 0px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;

  @media screen and (max-width: 768px) {
    margin: 5px 15px 5px 0;
    width: 100px;
  }
}

.status {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #d6dce0;
  position: relative;
  transition: all 200ms ease-in;

  h4 {
    font-weight: 900;
  }

  &:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;

    @media screen and (max-width: 768px) {
      left: -8%;
      top: 30%;
      transition: all 200ms ease-in;
    }
  }

  @media screen and (max-width: 768px) {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    border-bottom: 2px solid variables.$green;
  }
}

.li.complete .status {
  border-top: 2px solid variables.$green;

  &:before {
    background-color: variables.$green;
    border: none;
    transition: all 200ms ease-in;
  }

  h4 {
    color: #356835;
  }
}
