@use "variables.scss";

// Estilos para el contenedor principal de la sección de inicio
#inicio {
  align-items: center;
  color: variables.$white; /* Color de texto */
  display: flex;
  min-height: 100vh;
  padding: 0;
}

/*.fondo-inicio {
  background: url("/assets/fondo-inicio.png") fixed center center/cover;
  height: 100%;
  left: 0;
  margin-top: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}*/

// Estilos para la sección de descripción en la sección de inicio
.inicio-descripcion {
  width: 60%;
  height: auto;
  padding: 80px;

  // Estilos para el título en la sección de descripción
  h1 {
    animation-duration: 2s;
    color: black; /* Color de texto */
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: x-large; /* Tamaño de fuente en pantallas pequeñas */
    }
  }

  // Estilos para las imágenes en la sección de descripción
  img {
    animation-duration: 2s;
    width: 450px;
    height: auto;
    margin: 10px;

    @media only screen and (max-width: 768px) {
      margin: 0;
      max-width: 250px;
    }
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 10px;
  }
}

// Estilos para el contenedor de imagen en la sección de descripción
.inicio-descripcion-container_imagen {
  animation-duration: 2s;
  max-width: 243px;
  height: auto;
  position: absolute;
  right: 0;

  img {
    width: 100%;
    height: auto;
  }

  @media only screen and (max-width: 768px) {
    position: relative;
  }
}

// Estilos para la flecha en la sección de inicio
.arrow {
  bottom: 0;
  left: 47.5%;
  margin: 2% 0;
  position: absolute;
  text-align: center;

  a {
    color: variables.$black; /* Color de texto */
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    margin: 5% 0;
  }
}

// Animación de rebote
.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
