@use "variables.scss";

.mision-valores {
  display: flex;
  flex-direction: column;
}

.mision-valores-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.mision-valores-tarjeta {
  padding: 10px;

  i {
    margin: 5px 0;
    font-size: 70px;
  }

  .fa-lightbulb {
    color: variables.$wedo;
  }

  .fa-heart {
    color: variables.$red;
  }

  .fa-star {
    color: variables.$violet;
  }

  .fa-smile-beam {
    color: variables.$spike;
  }

  p {
    margin-top: 25px;
  }
}
