@use "variables.scss";

// Estilos para el logo en el encabezado
.header-logo {
  margin: 10px 20px;
  display: flex;
  align-items: center;

  img {
    width: 100px;
    height: 34px;
    text-align: center;
    align-items: center;
  }
}

// Estilos para el botón de abrir el menú en dispositivos móviles
#boton-abrir-menu {
  background-color: transparent;
  border: none;
  color: variables.$black;
  display: none;

  #abrir-menu {
    margin-right: 14px;
    padding: 10px;
    font-size: 27px;
  }

  @media screen and (max-width: 768px) {
    display: block;
  }
}

nav {
  width: 558px;
  height: 50px;
  margin: 5px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
  z-index: 100;

  // Estilos para el botón de cerrar el menú en dispositivos móviles
  #cerrar-menu {
    display: none;
    background-color: transparent;
    border: none;
    padding: 15px 24px;
    color: variables.$white;

    i {
      font-size: 30px;
    }

    @media screen and (max-width: 768px) {
      display: block;
      z-index: 9999;
    }
  }

  a {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #433535;
    cursor: pointer;

    &:hover {
      color: black;
      transition: color 0.5s;
    }

    // Estilos para los enlaces individuales en el menú
    &:nth-child(2) {
      width: 90px;

      @media screen and (max-width: 768px) {
        padding-right: 12%;
        text-align: end;
      }
    }

    &:nth-child(3) {
      width: 120px;

      @media screen and (max-width: 768px) {
        padding-right: 12%;
        text-align: end;
      }
    }

    &:nth-child(4) {
      width: 95px;

      @media screen and (max-width: 768px) {
        padding-right: 12%;
        text-align: end;
      }
    }

    &:nth-child(5) {
      width: 130px;

      @media screen and (max-width: 768px) {
        padding-right: 12%;
        text-align: end;
      }
    }

    &:nth-child(6) {
      width: 120px;

      @media screen and (max-width: 768px) {
        padding-right: 12%;
        text-align: end;
      }
    }

    @media only screen and (max-width: 768px) {
      line-height: 50px;
      color: variables.$white;

      &:hover {
        color: variables.$spike;
      }
    }
  }

  // Estilos para la animación de resaltado en los enlaces del menú
  a:nth-child(2):hover ~ .animation {
    width: 90px;
    left: 0;
    background-color: variables.$spike;
  }

  a:nth-child(3):hover ~ .animation {
    width: 120px;
    left: 90px;
    background-color: variables.$spike;
  }

  a:nth-child(4):hover ~ .animation {
    width: 95px;
    left: 210px;
    background-color: variables.$spike;
  }

  a:nth-child(5):hover ~ .animation {
    width: 130px;
    left: 305px;
    background-color: variables.$spike;
  }

  a:nth-child(6):hover ~ .animation {
    width: 120px;
    left: 435px;
    background-color: variables.$spike;
  }

  .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
  }

  @media only screen and (max-width: 768px) {
    opacity: 0;
    visibility: hidden;
    margin: 0;
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: end;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
    transition: opacity 0.5s ease;
    border-radius: 0;

    .animation {
      display: none;
    }
  }
}

// Estilos para hacer visible el menú en dispositivos móviles
nav.visible {
  opacity: 1;
  visibility: visible;
}
