@use "variables.scss";

.navbar-panel {
  width: 100%;
  position: fixed;
  background: variables.$green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
}

.container-navbar__logo {
  margin: 15px;
  display: flex;
  align-items: center;
  z-index: 20;
}

.navbar__logo {
  width: auto;
  height: 30px;
  text-align: center;
  align-items: center;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  margin: 15px;
  background: transparent;
  cursor: pointer;
  display: none;

  @media only screen and (max-width: 768px) {
    display: block;
  }

  input {
    display: none;

    &:checked ~ span:nth-of-type(1) {
      transform: rotate(45deg);
      top: 0px;
      left: 5px;
      background: white;
    }

    &:checked ~ span:nth-of-type(2) {
      width: 0%;
      opacity: 0;
    }

    &:checked ~ span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
      left: 5px;
      background: white;
    }
  }

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-of-type(1) {
      top: 0px;
      transform-origin: left center;
    }

    &:nth-of-type(2) {
      top: 50%;
      transform: translateY(-50%);
      transform-origin: left center;
    }

    &:nth-of-type(3) {
      top: 100%;
      transform-origin: left center;
      transform: translateY(-100%);
    }
  }

  .activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
    background: white;
    z-index: 200;
  }

  .activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
  }

  .activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
    background: white;
    z-index: 200;
  }
}

.navbar-menu {
  width: 555px;
  height: 50px;
  margin: 5px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
  font-size: 0;

  .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
  }

  a {
    height: 100%;
    line-height: 50px;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
    color: variables.$white;
    cursor: pointer;

    &:hover {
      color: black;
      transition: color 0.5s;
    }

    &:nth-child(1) {
      width: 90px;

      @media screen and (max-width: 768px) {
        width: 80%;
      }
    }

    &:nth-child(2) {
      width: 120px;

      @media screen and (max-width: 768px) {
        width: 80%;
      }
    }

    &:nth-child(3) {
      width: 95px;

      @media screen and (max-width: 768px) {
        width: 80%;
      }
    }

    &:nth-child(4) {
      width: 130px;

      @media screen and (max-width: 768px) {
        width: 80%;
      }
    }

    &:nth-child(5) {
      width: 120px;

      @media screen and (max-width: 768px) {
        width: 80%;
      }
    }

    @media only screen and (max-width: 768px) {
      margin: 10px;
      font-size: 12px;
      /*display: none;*/
    }
  }

  .start-inicio,
  a:nth-child(1):hover ~ .animation {
    width: 90px;
    left: 0;
    background-color: variables.$wedo;
  }

  .start-acerca_de,
  a:nth-child(2):hover ~ .animation {
    width: 120px;
    left: 90px;
    background-color: variables.$spike;
  }

  .start-cursos,
  a:nth-child(3):hover ~ .animation {
    width: 95px;
    left: 210px;
    background-color: variables.$wedo;
  }

  .start-inscribite,
  a:nth-child(4):hover ~ .animation {
    width: 130px;
    left: 305px;
    background-color: variables.$spike;
  }

  .start-redes,
  a:nth-child(5):hover ~ .animation {
    width: 120px;
    left: 435px;
    background-color: variables.$wedo;
  }

  @media only screen and (max-width: 768px) {
    opacity: 0;
    visibility: hidden;
    width: 200px;
    height: auto;
    padding: 2rem;
    position: absolute;
    top: 0;
    /*right: 0;*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: end;
    background-color: black;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 768px) {
  .navbar-menu.visible {
    opacity: 1;
    visibility: visible;
  }
}
