$white: #f2f2f2;
$light-grey: #c8c8c8;
$light-beige: #f9f9ea;
$wedo: #68c3e2;
$spike: #ffd501;
$green: #55cc55;
$bluish-green: #00cc99;
$red: #ff6d6a;
$violet: #ee82ee;
$grey: #414141;
$black: #222222;
