/* Importaciones de archivos SCSS */
@use "variables.scss";
@use "nav-bar";
@use "inicio.scss";
@use "historia.scss";
@use "mision-valores.scss";
@use "servicios.scss";
@use "cursos.scss";
@use "equipo.scss";
@use "recursos.scss";
@use "inscripcion.scss";
@use "container-footer.scss";
@use "elementos-javascript";

/* Configuración para desplazamiento suave en HTML */
html {
  scroll-behavior: smooth;
}

/* Estilos de secciones y artículos */
article,
section {
  background: variables.$light-beige;
  padding: 10px 50px;
  text-align: center;
  scroll-margin-top: 60px;

  @media only screen and (max-width: 768px) {
    padding: 10px 20px;
  }
}

/* Estilos del cuerpo (body) */
body {
  background: variables.$light-beige;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

/* Estilos del encabezado (header) */
header {
  align-items: center;
  background: linear-gradient(variables.$green 99%, variables.$light-beige);
  box-sizing: border-box;
  display: flex;
  height: 60px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 15;
}

/* Estilos para enlaces */
a {
  align-items: center;
  display: flex;
  text-decoration: none;
}

/* Estilos para formularios */
form {
  display: flex;
  flex-direction: column;
}

/* Estilos para títulos */
h1 {
  font-size: 48px;

  @media only screen and (max-width: 768px) {
    font-size: 32px;
  }
}

h2 {
  font-size: 36px;
  margin: 20px;

  @media only screen and (max-width: 768px) {
    font-size: 24px;
    margin: 10px;
  }
}

h3 {
  font-size: 24px;

  @media only screen and (max-width: 768px) {
    font-size: 20px;
  }
}

/* Estilos generales */

/* Resetear márgenes y paddings en todos los elementos */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos para el menú de navegación */
#toggler .navbar-menu label {
  display: none;
}

/* Estilos para párrafos */
p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin: 10px 0;

  @media only screen and (max-width: 768px) {
    font-size: 16px;
    margin: 10px 0;
  }
}

/* Estilos para desplazamiento suave en HTML */
html {
  scroll-behavior: smooth;
}

/* Estilos para la barra de navegación */
.navbar-menu label {
  display: none;
}

/* Estilos para el pie de página */
footer {
  width: 100%;
  padding: 30px;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(#f9f9ea, #55cc55 1%);
  text-align: center;

  @media only screen and (max-width: 768px) {
    padding: 30px 0 0;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}

// Chat-BOT

.chatbox-wrapper {
  width: 300px;
  position: fixed;
  bottom: 65px;
  right: 15px;
  visibility: hidden;
  z-index: 999;

  @media screen and (max-width:768px) {
    width: 220px;
  }
}

.chatbox-wrapper.hidden {
  visibility: visible;
}

.chat {
  display: flex;
  gap: 20px;
  padding: 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  background-color: #55cc55;

  @media screen and (max-width:768px) {
    gap: 10px;
    padding: 10px;
    font-size: 14px;
  }
}

.chat img {
  width: 35px;
  height: 35px;
}

.response {
  background-color: #494b59;
}

.messagebar {
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #494b59;
  background-color: #33343f;
}

.messagebar .bar-wrapper {
  background-color: #494b59;
  border-radius: 5px;
  width: 60vw;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar-wrapper input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  background: none;
  color: #ccc;
}

.bar-wrapper input::placeholder {
  color: #ccc;
}

.messagebar button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.message-box {
  max-height: 350px;
  overflow-y: auto;

  @media screen and (max-width:768px) {
    max-height: 300px;
  }
}

#toggleChatbot {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: variables.$black;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 9999;
}
